<!DOCTYPE html>
<html>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascript/jquery.min.js"></script>
<script type="text/javascript"	src="/javascript/googleapi/speech-events.js"></script>
<script type="text/javascript"	src="/javascript/googleapi/textarea-helper.js"></script>
<script type="text/javascript"	src="/javascript/googleapi/speech-recognizer.js"></script>
<script type="text/javascript"	src="/javascript/googleapi/speech-voice.js"></script>
<script type="text/javascript"  src="/javascript/googleapi/speech-init.js"></script>
<script type="text/javascript">
var buttonClicked = false;
</script>
</head>
<body>
	<span class="input-group-btn">
		<div id="speech-content-mic" class="speech-mic"></div>
	</span>
	</div>
	<h3>Log</h3>
	<div id="log"></div>
</body>
</html>


